extends ../layouts/simple.layout.pug
block variables
	-
		var pageTitle = "homepage"	
block content
	.cv-header
		.cv-photo
			img(src="img/resume.jpg" alt="photo of developer")
		.cv-title
			.cv-name Yaryna
			.cv-second-name Galych
			.cv-title-position Student
	.wrapper
		.cv-contacts 
			.title Contacts
			p
				a(href="tel:+359948594859") +359948594859
			p
				a(href="email:yarunka@gmail.com") yarunka@gmail.com 
			p
				|Ukraine
			p
				|street Galytska 20/70
		.cv-profile
			.title Profile
			p
				|Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
		.cv-education
			.title Education
			ul
				li Ukrainian Grammar School 1, Ivano-Frankivsk
				li School 18
				li Vasyl Stefanyk Precarpathian National University	
		.cv-skills
			.title Skills
			ol
				li Data Entry
				li Answering Phones
				li Billing
				li Scheduling
				li MS Office
		.cv-history
			.title Employment history
			p
				|PA to Personnel Manager, Company Name, Location
			p
				span(class="italic") (April 2011 - Present)
			p
				|Achievments and responsibillities:
				ul
					li Employment History 
					li Work Experience
					li Relevant Experience
					li Additional Experience
